<div class="card mt-3 border-0 my-5">
    <div class="card-body mt-5 pt-">
      <blockquote class="blockquote d-flex justify-content-center mb-0">
        <footer class="blockquote-footer">
            <cite title="Source Title">Source Title</cite>
        </footer>
      </blockquote>
    </div>
</div>