<nav class="px-2 pt-2 ">
    <div class="container-fluid d-flex justify-content-between   align-items-center ">
       <div class="toggle">
         <i class="bi bi-list"></i>
       </div>
       <div class="logo" >
          <img src="/poster/logo.png" />
       </div>
    </div>
</nav>
  
  
  