<ul class="list-group">
    <% sidebar.forEach((ele,index)=>{%> 
        <li class="list-group-item ">
            <div class="row">
                <div class="col-4">
                    <img src="<%=ele.poster%>" width="100%" />
                </div>
                <div class="col-8">
                    <%=ele.link%>
                    <div class="star">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                        <i class="bi bi-star"></i>
                    </div>
                </div>
            </div>
        </li>
    <% }) %>   

</ul>