// nav{
//    .menu{
//       z-index: 1000;
//       ul{
//          width: 100%;
//          background-color: #fff;
//       }
//    }

//    @media (min-width: 768px) {
      
//      .toggle{
//        display: none;
//      }
//      .menu{
//       display: none;
//    }

//    }
// }

// #sidebar{
//    display: none;
//    @media (min-width: 768px) {
//       display:block;
//    }
// }

.menubar{
     position: absolute;
     z-index: 1000;
     .menu{
        ul{
            width: 100%;
            background: #fff;
        }
     }

   @media (min-width: 768px) {
    &{
      display: none;
    }

   }

}
.menubar2{

     .menu{
        ul{
            width: 100%;
            background: #fff;
        }
     }

   @media (max-width: 768px) {
    &{
      display: none;
    }

   }

}
